<ngx-lc-table [data]="tableData">
  <ngx-lc-table-column [prop]="'name'" ngxLcAlignLeft>
    <ng-template ngxLcTableHeader>Name</ng-template>
    <ng-template ngxLcTableRow let-value>{{value}}</ng-template>
  </ngx-lc-table-column>
  <ngx-lc-table-column [prop]="'lastName'" width="250px">
    <ng-template ngxLcTableHeader>Last Name</ng-template>
    <ng-template ngxLcTableRow let-value>{{value}}</ng-template>
  </ngx-lc-table-column>
  <ngx-lc-table-column [prop]="['age', 'sex']">
    <ng-template ngxLcTableHeader>Age</ng-template>
    <ng-template ngxLcTableRow let-value>{{value.age}}-{{value.sex}}</ng-template>
    <ng-template ngxLcTableFooter let-value>{{acc(value)}}</ng-template>
  </ngx-lc-table-column>
  <ngx-lc-table-column [prop]="'misc.phone'">
    <ng-template ngxLcTableHeader><div (click)="click()">Phone</div></ng-template>
    <ng-template ngxLcTableRow let-value>{{value}}</ng-template>
    <ng-template ngxLcTableRowExpanded let-value><div>{{value}}</div></ng-template>
  </ngx-lc-table-column>
  <ngx-lc-table-column [prop]="['misc.bloodType','misc.eyeColor']" ngxLcAlignRight>
    <ng-template ngxLcTableHeader>
      <div (click)="click()">Misc</div>
    </ng-template>
    <ng-template ngxLcTableRow let-value>{{value.misc.bloodType}} | {{value.misc.eyeColor}}
    </ng-template>
  </ngx-lc-table-column>
  <ng-template ngxLcTableFooter>
    Hello
  </ng-template>
</ngx-lc-table>
