<ngx-lc-table [data]="tableData">
  <ngx-lc-table-column [prop]="'name'">
    <ng-template ngxLcTableHeader>Name</ng-template>
    <ng-template ngxLcTableRow let-value>{{value}}</ng-template>
  </ngx-lc-table-column>
  <ngx-lc-table-column [prop]="'lastName'">
    <ng-template ngxLcTableHeader>Last Name</ng-template>
    <ng-template ngxLcTableRow let-value>{{value}}</ng-template>
  </ngx-lc-table-column>
  <ngx-lc-table-column [prop]="['age', 'sex']">
    <ng-template ngxLcTableHeader>Age</ng-template>
    <ng-template ngxLcTableRow let-value>{{value.age}}-{{value.sex}}</ng-template>
  </ngx-lc-table-column>
  <ngx-lc-table-column [prop]="'misc.phone'">
    <ng-template ngxLcTableHeader>
      <div (click)="click()">Phone</div>
    </ng-template>
    <ng-template ngxLcTableRow let-value>{{value}}</ng-template>
  </ngx-lc-table-column>
  <ngx-lc-table-column [prop]="['misc.bloodType','misc.eyeColor']">
    <ng-template ngxLcTableHeader>
      <div (click)="click()">Misc</div>
    </ng-template>
    <ng-template ngxLcTableRow let-value>{{value.misc.bloodType}} | {{value.misc.eyeColor}}</ng-template>
  </ngx-lc-table-column>
</ngx-lc-table>
